/ara_nissl_25.nrrd
/average_template_25.nrrd
/annotation_25_2011.nrrd
/annotation_25_2011_fiber.nrrd
/annotation_25_2017.nrrd
/brain_regions.json
/annotation_25_2011_full.nrrd
/ccfv2_atlas_coarse.nrrd
/ccfv3_atlas_coarse.nrrd
/ccfv2_atlas_fine.nrrd
/ccfv3_atlas_fine.nrrd
